{% extends 'base.html.twig' %}
{% block body %}
    <div id="root" style="width: 300px;
                        margin: 0 auto;"></div>

{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('build/js/app.js') }}"></script>
{% endblock %}
